# Database Configuration
DB_HOST=localhost
DB_NAME=reqon_db
DB_USER=root #not advisable if in production
DB_PASS=

# Application Settings
APP_NAME=Reqon
APP_ENV=development
APP_DEBUG=false
APP_URL=https://localhost/reqon

# Session Configuration
SESSION_LIFETIME=1200 
SESSION_NAME=reqon_session


# Security
HASH_ALGO=bcrypt

# Pagination
ITEMS_PER_PAGE=20

# File Upload
UPLOAD_MAX_SIZE=5242880
ALLOWED_FILE_TYPES=jpg,jpeg,png,pdf,doc,docx